{% extends "base_generic.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class="bg-container">
    <section id="profile" class="section">
        <h1 class="heading">Profile</h1>
        <p class="title highlights">Overview of student and bus tracking data.</p>
        <div class="row d-flex flex-row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-row justify-content-center">
                <div class="card profile-card">
                    <div>
                        <img src="https://img.freepik.com/free-photo/young-brunette-student-holding-notebooks_273609-41704.jpg?ga=GA1.1.1686866124.1741194798&semt=ais_hybrid"
                             alt="Student Image">
                    </div>
                    <h2>{{ user.username }}</h2
                    <p>Batch: 2025-26</p>
                    <div class="info">
                        <p><i class="fas fa-user-graduate"></i> Department: CSE Department</p>
                        <p><i class="fas fa-chalkboard-teacher"></i> Tutor: Smitha S</p>
                        <p><i class="fas fa-bus"></i> Route: Ambalapaara</p>
                        <p><i class="fas fa-phone"></i> Mobile No: +123 456 7890</p>
                        <p><i class="fas fa-envelope"></i> E-mail: saxik.ar@example.com</p>
                    </div>
                    <span class="bus-route">Bus No: 102</span>
                    <a class="nav-link highlights mr-lg-3" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>
                        Logout</a>
                </div>
            </div>
        </div>
    </section>
    <section id="students" class="section">
        <h1 class="heading">Students</h1>
        <button class="btn m-3 custom-btn btn-1 text-white"><i class="fas fa-user-plus"></i> Add Student</button>
        <table class="table table-striped table-bordered table-hover table-light table-responsive-sm">
            <tr>
                <th>Name</th>
                <th>Boarding Point</th>
                <th>Course</th>
                <th>Year</th>
                <th>Paid/Not</th>
                <th>Fee Amount</th>
            </tr>
            <tr>
                <td>John Doe</td>
                <td>Route A</td>
                <td>CSE</td>
                <td>Paid</td>
                <td>10,000</td>
                <td>
                    <button class="btn-warning"><i class="fas fa-edit"></i> Edit</button>
                </td>
            </tr>
            <tr>
                <td>John Doe</td>
                <td>Route A</td>
                <td>CSE</td>
                <td>Paid</td>
                <td>10,000</td>
                <td>
                    <button class="btn-warning"><i class="fas fa-edit"></i> Edit</button>
                </td>
            </tr>
            <tr>
                <td>John Doe</td>
                <td>Route A</td>
                <td>CSE</td>
                <td>Paid</td>
                <td>10,000</td>
                <td>
                    <button class="btn-warning"><i class="fas fa-edit"></i> Edit</button>
                </td>
            </tr>
        </table>
    </section>
    <section id="staff" class="section">
        <h1 class="heading">Transportation Incharge Members</h1>
        <div class="row d-flex flex-row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="details-card m-4">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="64"
                         height="64" x="0" y="0" viewBox="0 0 682.667 682.667" style="enable-background:new 0 0 512 512"
                         xml:space="preserve" class="mb-2">
                        <g>
                            <defs>
                                <clipPath id="a" clipPathUnits="userSpaceOnUse">
                                    <path d="M0 512h512V0H0Z" fill="#f8f9fa" opacity="1" data-original="#000000"></path>
                                </clipPath>
                            </defs>
                            <g clip-path="url(#a)" transform="matrix(1.33333 0 0 -1.33333 0 682.667)">
                                <path d="M383.273 14.667H128.727v317.001h254.546z"
                                      style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                                      fill="none" stroke="#f8f9fa" stroke-width="30" stroke-linecap="butt"
                                      stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="none"
                                      stroke-opacity="" data-original="#000000" opacity="1" class=""></path>
                                <path d="M0 0a34.57 34.57 0 0 1 6.145 19.722c0 19.187-15.554 34.741-34.741 34.741-19.187 0-34.741-15.554-34.741-34.741A34.574 34.574 0 0 1-57.215.032c-15.8-7.262-26.777-23.216-26.777-41.744v-26.91h110.7v26.91C26.708-23.211 15.763-7.276 0 0Z"
                                      style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                                      transform="translate(284.642 215.747)" fill="none" stroke="#f8f9fa"
                                      stroke-width="30" stroke-linecap="butt" stroke-linejoin="miter"
                                      stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity=""
                                      data-original="#000000" opacity="1" class=""></path>
                                <path d="M0 0h95.123"
                                      style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                                      transform="translate(208.438 82.168)" fill="none" stroke="#f8f9fa"
                                      stroke-width="30" stroke-linecap="butt" stroke-linejoin="miter"
                                      stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity=""
                                      data-original="#000000" opacity="1" class=""></path>
                                <path d="M0 0h-76L4.005-165.665h76z"
                                      style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                                      transform="translate(213.849 497.333)" fill="none" stroke="#f8f9fa"
                                      stroke-width="30" stroke-linecap="butt" stroke-linejoin="miter"
                                      stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity=""
                                      data-original="#000000" opacity="1" class=""></path>
                                <path d="m0 0 42.151 87.281h76L38.146-78.384"
                                      style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                                      transform="translate(256 410.052)" fill="none" stroke="#f8f9fa" stroke-width="30"
                                      stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                      stroke-dasharray="none" stroke-opacity="" data-original="#000000" opacity="1"
                                      class=""></path>
                            </g>
                        </g>
                    </svg>
                    <h5 class="title">Praveena</h5>
                    <h5 class="title">CSE Department</h5>
                    <a href="tel:+917736830775" class="title">+91 77368 30775</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="details-card m-4">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="64"
                         height="64" x="0" y="0" viewBox="0 0 682.667 682.667" style="enable-background:new 0 0 512 512"
                         xml:space="preserve" class="mb-2">
                        <g>
                            <defs>
                                <clipPath id="a" clipPathUnits="userSpaceOnUse">
                                    <path d="M0 512h512V0H0Z" fill="#f8f9fa" opacity="1" data-original="#000000"></path>
                                </clipPath>
                            </defs>
                            <g clip-path="url(#a)" transform="matrix(1.33333 0 0 -1.33333 0 682.667)">
                                <path d="M383.273 14.667H128.727v317.001h254.546z"
                                      style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                                      fill="none" stroke="#f8f9fa" stroke-width="30" stroke-linecap="butt"
                                      stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="none"
                                      stroke-opacity="" data-original="#000000" opacity="1" class=""></path>
                                <path d="M0 0a34.57 34.57 0 0 1 6.145 19.722c0 19.187-15.554 34.741-34.741 34.741-19.187 0-34.741-15.554-34.741-34.741A34.574 34.574 0 0 1-57.215.032c-15.8-7.262-26.777-23.216-26.777-41.744v-26.91h110.7v26.91C26.708-23.211 15.763-7.276 0 0Z"
                                      style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                                      transform="translate(284.642 215.747)" fill="none" stroke="#f8f9fa"
                                      stroke-width="30" stroke-linecap="butt" stroke-linejoin="miter"
                                      stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity=""
                                      data-original="#000000" opacity="1" class=""></path>
                                <path d="M0 0h95.123"
                                      style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                                      transform="translate(208.438 82.168)" fill="none" stroke="#f8f9fa"
                                      stroke-width="30" stroke-linecap="butt" stroke-linejoin="miter"
                                      stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity=""
                                      data-original="#000000" opacity="1" class=""></path>
                                <path d="M0 0h-76L4.005-165.665h76z"
                                      style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                                      transform="translate(213.849 497.333)" fill="none" stroke="#f8f9fa"
                                      stroke-width="30" stroke-linecap="butt" stroke-linejoin="miter"
                                      stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity=""
                                      data-original="#000000" opacity="1" class=""></path>
                                <path d="m0 0 42.151 87.281h76L38.146-78.384"
                                      style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                                      transform="translate(256 410.052)" fill="none" stroke="#f8f9fa" stroke-width="30"
                                      stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                      stroke-dasharray="none" stroke-opacity="" data-original="#000000" opacity="1"
                                      class=""></path>
                            </g>
                        </g>
                    </svg>
                    <h5>SHAJI BENSIKER</h5>
                    <h5>CSE Department</h5>
                    <a href="tel:+919962599327" class="title">+91 99625 99327</a>
                </div>
            </div>
        </div>
    </section>
    <section id="driver" class="section">
        <h1 class="heading">Driver Details</h1>
        <div class="row d-flex flex-row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="details-card m-4">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="64"
                         height="64" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512"
                         xml:space="preserve" class="">
                        <g>
                            <path d="M479.975 72.501H32.025C14.347 72.501.029 86.819.029 104.497v303.005c0 17.678 14.318 31.996 31.996 31.996h447.95c17.678 0 31.996-14.319 31.996-31.996V104.497c0-17.678-14.318-31.996-31.996-31.996zm-331.243 40.315h214.536c4.4 0 7.999 3.52 7.999 7.999 0 4.399-3.599 7.999-7.999 7.999H148.732c-4.4 0-7.999-3.6-7.999-7.999a7.971 7.971 0 0 1 7.999-7.999zm347.241 294.687c0 8.8-7.199 15.998-15.998 15.998H32.025c-8.799 0-15.998-7.198-15.998-15.998V169.05h479.947v238.453z"
                                  fill="#f8f9fa" opacity="1" data-original="#000000" class=""></path>
                            <path d="M141.772 244.961v12.159c0 16.718-13.678 30.316-30.397 30.316-16.718 0-30.397-13.598-30.397-30.316v-12.159c0-16.718 13.679-30.317 30.397-30.317 16.719 0 30.397 13.599 30.397 30.317zM174.169 356.949c0 3.04-1.76 5.919-4.56 7.199-38.636 18.318-77.832 18.318-116.467 0-2.8-1.28-4.56-4.16-4.56-7.199 0-34.636 28.157-62.873 62.793-62.873 34.637 0 62.794 28.237 62.794 62.873zM206.224 237.955h98.899c4.417 0 7.999-3.578 7.999-7.999s-3.582-7.999-7.999-7.999h-98.899c-4.417 0-7.999 3.578-7.999 7.999s3.582 7.999 7.999 7.999zM455.435 266.171H206.224c-4.417 0-7.999 3.578-7.999 7.999s3.582 7.999 7.999 7.999h249.211c4.417 0 7.999-3.578 7.999-7.999s-3.582-7.999-7.999-7.999zM206.224 326.383h98.899c4.417 0 7.999-3.578 7.999-7.999s-3.582-7.999-7.999-7.999h-98.899c-4.417 0-7.999 3.578-7.999 7.999s3.582 7.999 7.999 7.999zM455.435 354.598H206.224c-4.417 0-7.999 3.578-7.999 7.999s3.582 7.999 7.999 7.999h249.211c4.417 0 7.999-3.578 7.999-7.999s-3.582-7.999-7.999-7.999z"
                                  fill="#f8f9fa" opacity="1" data-original="#000000" class=""></path>
                        </g>
                    </svg>
                    <h5>SIDDIQ</h5>
                    <h5>Transportation Department</h5>
                    <a href="tel:+919962599327" class="title">+91 99625 99327</a>
                </div>
            </div>
        </div>
    </section>
    <section id="map" class="section">
        <h1 class="heading">Live Location Map</h1>
        <p class="title highlights">View real-time bus locations.</p>
        <div class="m-auto">
            <div class="w-100">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4661.468179955812!2d76.43467835952525!3d10.748977010224879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1727363409891!5m2!1sen!2sin"
                        class="p-2 w-100" width="500" height="500" frameborder="0" style="border-radius:5%;"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <h6 class="title">BUS NO: <i class="highlights">KL07Z7116</i></h6>
        </div>
    </section>
    <section id="chat" class="section">
        <h1 class="heading">Real-Time Chat</h1>
        <div class="chat mt-4">
            <h2 class="heading title p-4">Chat Section</h2>
            <div class="chat-window bg-light p-2">
                <ul class="message-list chat-messages">
                    <div class="chat-container">
                        <div class="user">
                            <div class="user-pic">
                                <svg fill="none" viewBox="0 0 24 24" height="20" width="20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linejoin="round" fill="#707277" stroke-linecap="round" stroke-width="2"
                                          stroke="#707277"
                                          d="M6.57757 15.4816C5.1628 16.324 1.45336 18.0441 3.71266 20.1966C4.81631 21.248 6.04549 22 7.59087 22H16.4091C17.9545 22 19.1837 21.248 20.2873 20.1966C22.5466 18.0441 18.8372 16.324 17.4224 15.4816C14.1048 13.5061 9.89519 13.5061 6.57757 15.4816Z"></path>
                                    <path stroke-width="2" fill="#707277" stroke="#707277"
                                          d="M16.5 6.5C16.5 8.98528 14.4853 11 12 11C9.51472 11 7.5 8.98528 7.5 6.5C7.5 4.01472 9.51472 2 12 2C14.4853 2 16.5 4.01472 16.5 6.5Z"></path>
                                </svg>
                            </div>
                            <div class="user-info">
                                <span>Yassine Zanina</span>
                                <p>Wednesday, March 13th at 2:45pm</p>
                            </div>
                        </div>
                        <p>
                            I've been using this product for a few days now and I'm really impressed! The interface is
                            intuitive
                            and easy to
                            use, and the features are exactly what I need to streamline my workflow.
                        </p>
                    </div>
                </ul>
            </div>
            <div class="chat-input">
                <input class="message-input" id="message-input" type="text" placeholder="Type your message here">
                <div>
                    <button class="send-button" id="send-button">
                        <div class="svg-wrapper-1">
                            <div class="svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path fill="currentColor"
                                          d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                                </svg>
                            </div>
                        </div>
                        <span>Send</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section id="accident-report" class="section">
        <h1 class="heading">Report An Incident</h1>
        <div class="row buscrash pt-3 pb-3">
            <div class="col-12 col-md-6">
                <h2 class="heading m-3 p-2">Report An Incident</h2>
                <form id="" class="details-card w-75 m-auto">
                    <div class="wave-group">
                        <input type="text" id="location" class="input" required="">
                        <span class="bar"></span>
                        <label for="location" class="label">
                            <span class="label-char" style="--index: 0">Location</span>
                        </label>
                    </div>
                    <div class="wave-group mt-1">
                        <label for="incident-type" class="label label-char">
                            Incident
                        </label><br/>
                        <select id="incident-type" class="input" required="">
                            <option value="" disabled selected>Select an incident</option>
                            <option value="bus-breakdown">Bus Breakdown</option>
                            <option value="traffic-jam">Traffic Jam</option>
                            <option value="accident">Accident</option>
                            <option value="other">Other</option>
                        </select>
                        <span class="bar"></span>
                    </div>
                    <div class="wave-group mt-1">
                        <label for="description" class="label">
                            Description
                        </label><br/>
                        <textarea id="description" placeholder="Briefly describe about the incident" class="textarea"
                                  required=""></textarea>
                        <span class="bar"></span>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn m-3 custom-btn btn-1">Submit Report</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6">
                <h2 class="heading m-3 p-2">Recent Incidents</h2>
                <ul id="incident-list" class="w-75 m-auto">
                    <li class="text-white">At approximately 08:45 am, a bus(19) traveling on pattambi met with an accident at Ottapalam. The incident occurred when driver lost control.                    </li>
                    <li class="text-white">list of recent incidents will be displayed here with reported date and time.</li>
                </ul>
            </div>
        </div>
    </section>
</div>
{% else %}

<div id="HomeSection">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 col-md-8 m-auto pt-5">
                <div class="d-flex flex-column justify-content-center text-md-left">
                    <h1 class="heading highlights">
                        COLLEGE BUS MANAGEMENT SYSTEM
                        <video width="50px" height="50px" preload="none"
                               style="background: transparent  url('https://cdn-icons-png.flaticon.com/512/17357/17357387.png') 50% 50% / fit no-repeat; border-radius:50%10%50%10%/10%50%10%50%; "
                               autoplay="autoplay" loop="true" muted="muted" playsinline="">
                            <source src="https://cdn-icons-mp4.flaticon.com/512/17357/17357387.mp4" type="video/mp4">
                        </video>
                    </h1>
                    <div id="carouselExampleSlidesOnly" class="carousel slide m-3" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <h5 class="title"><em>Safe, Reliable, and Efficient Transportation Solutions.</em></h5>
                            </div>
                            <div class="carousel-item active">
                                <h5 class="title"><em>Connecting Students, Parents, and Staffs with Ease.</em></h5>
                            </div>
                            <div class="carousel-item">
                                <h5 class="title"><em>The Safe and Efficient Way to Get to Class.</em></h5>
                            </div>
                            <div class="carousel-item">
                                <h5 class="title"><em>Transportation Simplified, Safety Guaranteed.</em></h5>
                            </div>
                            <div class="carousel-item">
                                <h5 class="title"><em>The Future of Student Transportation is Here.</em></h5>
                            </div>
                            <div class="carousel-item">
                                <h5 class="title"><em>Safe, Reliable, and On Time, Every Time.</em></h5>
                            </div>
                            <div class="carousel-item">
                                <h5 class="title"><em>Transforming the Way Students Get to Class.</em></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center">
                <div class="mt-5 p-3">
                    <h5 class="title">Access Your Account</h5>
                    <div>
                        <a href="{% url 'login' %}" class="text-white">
                            <button class="btn m-3 custom-btn btn-1 text-white" id="user-login-btn"> User Login
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="servicesSection">
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-3">
                <hr/>
            </div>
            <div class="col-6 pt-1 text-center">
                <h2 class="heading">What We Offer</h2>
            </div>
            <div class="col-3">
                <hr/>
            </div>
        </div>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="services-card m-auto">
                    <div class="image-box">
                        <img src="https://i.postimg.cc/rySNGPwq/georgie-cobbs-b-Kj-Hgo-Lbpo-unsplash-l-BM8-Tml-N.webp"/>
                    </div>
                    <div class="content">
                        <h3 class="title text-center p-2">Real-time Bus Tracking</h3>
                        <div class="description">
                            <p class="p-5">
                                Our system provides accurate and up-to-the-minute location tracking of college buses,
                                enabling parents, students, and administrators to monitor bus movements on an
                                interactive map.
                                This feature ensures that stakeholders are informed about bus delays, route changes, or
                                other disruptions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="services-card m-auto">
                    <div class="image-box">
                        <img src="https://i.postimg.cc/8zCdSkBC/soroush-karimi-crj-Pr-Exv-Shc-unsplash-l-BM8-Tml-N.webp"/>
                    </div>
                    <div class="content">
                        <h3 class="title text-center p-2">Mobile & Desktop Interface</h3>
                        <div class="description">
                            <p class="p-5">
                                Our user-friendly mobile and web interfaces provide easy access to our services,
                                enabling parents,
                                students, and administrators to monitor bus locations, track student information, and
                                receive important updates on-the-go.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="services-card m-auto">
                    <div class="image-box">
                        <img src="https://i.postimg.cc/ht3LPFp1/evelyn-paris-QR-v-T8-h-BZM-unsplash-l-BM8-Tml-N.webp"/>
                    </div>
                    <div class="content">
                        <h3 class="title text-center p-2">Cloud Based Management</h3>
                        <div class="description">
                            <p class="p-5">
                                Our cloud-based management system provides dynamic and real-time updates of student
                                information for enhanced safety and security during college bus commutes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-4">
                <hr/>
            </div>
            <div class="col-4 pt-1 text-center">
                <h3 class="heading">Benefits</h3>
            </div>
            <div class="col-4">
                <hr/>
            </div>
        </div>
    </div>
    <div class="container pb-5">
        <div class="row">
            <div class="col-12">
                <ul class="benefits">
                    <li><span class="title text-white">Parental Peace of Mind</span>: Parents can relax knowing they
                        have real-time access to their child’s bus location, instant alerts for delays or incidents, and
                        clear ETAs. This constant connectivity ensures their child’s safety and reduces daily worries.
                    </li>
                    <li><span class="title text-white">Increased Student Satisfaction</span>: Students enjoy a
                        hassle-free commute with accurate bus tracking and arrival predictions. This reliability
                        eliminates long waits and provides a smoother, stress-free journey.
                    </li>
                    <li><span class="title text-white">Enhanced Safety</span>: With features like real-time monitoring,
                        quick incident notifications, and secure communication, the system keeps students safer
                        throughout their travels, offering reassurance to parents and staff alike.
                    </li>
                    <li><span class="title text-white">Timely Arrivals</span>: By optimizing bus routes and providing
                        up-to-date ETAs, the platform helps everyone stay on schedule, ensuring that students reach
                        their destinations promptly and without hassle.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
